<!DOCTYPE html>
<html>
<body bgcolor="green">
<div style="text-align:center;">
<form action="{{url_for('predict')}}" method="post">
<h1><center>Walmart Sales Prediction</center></h1>

 Store:       <input type="number" name="store"><br><br>
 Size:        <input type="number" name="size"><br><br>
 Department:  <input type="number" name="dept"><br><br>
 Temperature: <input type="number" name="temp"><br><br>
 Date:        <input type="date" name="date"><br><br>
 Is Holiday:  <input type="radio" name="isHolidayRadio">Yes
             <input type="radio" name="isHolidayRadio">No<br><br>
             <input type="submit" value="predict">

</form>
 </div>
</body>
</html>

